/* Genel stiller */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background: #0073e6;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    text-align: center;
}

main h2 {
    color: #0073e6;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
main img {
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
    border: 2px solid #0073e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Görsele gölge ekleme */
    display: block; /* Görselin ortalanması için */
}